* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  background-color: black;
  overflow: hidden;
  display: grid;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
  font-size: 20px;
}
h1 {
  color: white;
  pointer-events: none;
}
.btn {
  cursor: pointer;
  color: black;
}

/* hamburger  */


